.body{
    margin-top: 20px;
    margin-left: 20px;
    background-image: url("PORTADA.jpg");
}

.body2{
    margin-top: 20px;
    margin-left: 20px;
    background-image: url("1.jpg");
}

.body3{
    margin-top: 20px;
    margin-left: 20px;
    background-image: url("2.jpg");
}

.body4{
    margin-top: 20px;
    margin-left: 20px;
    background-image: url("3.jpg");
}

.body5{
    margin-top: 20px;
    margin-left: 20px;
    background-image: url("4.jpg");
}

.body6{
    margin-top: 20px;
    margin-left: 20px;
    background-image: url("5.jpg");
}

.body7{
    margin-top: 20px;
    margin-left: 20px;
    background-image: url("6.jpg");
}

.body8{
    margin-top: 20px;
    margin-left: 20px;
    background-image: url("7.jpg");
}

.body9{
    margin-top: 20px;
    margin-left: 20px;
    background-image: url("ULTIM_DESCARREGAR.jpg");
}

.textdesc{
    font-family: 'Bakbak One', cursive;
    text-align: center;
    font-size: 250%;
}

#titinici{
    font-family: 'Fredoka One', cursive;
    font-size: 120px;
    text-align: center;
}

#textinici{
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    text-align: center;
}

#divpres{
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#nombreus{
    font-family: 'Work Sans', sans-serif;
    margin-right: 10px;
}

#nompers{
    font-family: 'Work Sans', sans-serif;
}

#presentat{
    font-family: 'Work Sans', sans-serif;
}

#cosweb{
    display: none;
}

.image {
    position: relative;
    border: 5px solid #3DA4CE;
    width: 450px;
    height: 560px;
}

#visibleid{
    display: block;
}

.escondido{
    display: none;
}

.visible{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.visiblebotons{
    display: block;
    width: 70%;
}

.visible2{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#escondidoid{
    display: none;
}


#oppell1{
    margin-bottom: 30px;
}

#oppell2{
    margin-bottom: 30px;
}

#oppell3{
    margin-bottom: 30px;
}

#oppell4{
    margin-bottom: 30px;
}

#opulls1{
    margin-bottom: 30px;
}

#opulls2{
    margin-bottom: 30px;
}

#opulls3{
    margin-bottom: 30px;
}

#opulls4{
    margin-bottom: 30px;
}

#opcabell1{
    margin-bottom: 30px;
}

#opcabell2{
    margin-bottom: 30px;
}

#opcabell3{
    margin-bottom: 30px;
}

#opcabell4{
    margin-bottom: 30px;
}

#oprobaint1{
    margin-bottom: 30px;
}

#oprobaint2{
    margin-bottom: 30px;
}

#oprobaint3{
    margin-bottom: 30px;
}

#oprobaint4{
    margin-bottom: 30px;
}

#oprobaarriba1{
    margin-bottom: 30px;
}

#oprobaarriba2{
    margin-bottom: 30px;
}

#oprobaarriba3{
    
}

#oprobaarriba4{
    margin-bottom: 30px;
}

#oprobaabajo1{
    margin-bottom: 30px;
}

#oprobaabajo2{
    margin-bottom: 30px;
}

#oprobaabajo3{
    margin-bottom: 30px;
}

#oprobaabajo4{
    margin-bottom: 30px;
}

#oprobaabajo5{
    margin-bottom: 30px;
}

#oprobaabajo6{
    margin-bottom: 30px;
}

#opcomplement1{
    margin-bottom: 30px;
}

#opcomplement2{
    margin-bottom: 30px;
}

#opcomplement3{
    margin-bottom: 30px;
}

#opcomplement4{
    margin-bottom: 30px;
}

#opsabates1{
    margin-bottom: 30px;
}

#opsabates2{
    margin-bottom: 30px;
}

#opsabates3{
    margin-bottom: 30px;
}

#opsabates4{
    margin-bottom: 30px;
}

#enrere1{
    padding-right: 40px;
    padding-left: 40px;
}

#seg1{
    right: 0px;
    margin-left: 304px;
    margin-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    font-family: 'Work Sans', sans-serif;
}

#seg2{
    right: 0px;
    margin-left: 304px;
    margin-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    font-family: 'Work Sans', sans-serif;
}

#seg3{
    right: 0px;
    margin-left: 304px;
    margin-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    font-family: 'Work Sans', sans-serif;
}

#seg4{
    right: 0px;
    margin-left: 304px;
    margin-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    font-family: 'Work Sans', sans-serif;
}

#seg5{
    right: 0px;
    margin-left: 304px;
    margin-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    font-family: 'Work Sans', sans-serif;
}

#seg6{
    right: 0px;
    margin-left: 304px;
    margin-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    font-family: 'Work Sans', sans-serif;
}

#fin{
    right: 0px;
    margin-left: 275px;
    margin-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 11px;
    padding-top: 11px;
    font-family: 'Work Sans', sans-serif;
}

#desc{
    right: 0px;
    margin-left: 296px;
    margin-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: 'Work Sans', sans-serif;
}

#finalitzat{
    font-size: 120px;
    font-family: 'Fredoka One', cursive;
    margin-top: 100px;
}

#textfin{
    font-size: 80px;
    font-family: 'Fredoka One', cursive;
}

#nompers{
    text-align: center;
}

.textdesc{
    margin-bottom: 30px;
    display: block;
}